{% extends 'accounts/main.html' %} {% block content %}
<br />
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Staff:</h5>
      <hr />
      <a class="btn btn-outline-info btn-sm btn-block" href="">Update Staff</a>
      <a class="btn btn-outline-danger btn-sm btn-block" href=""
        >Delete Staff</a
      >
    </div>
  </div>
  <div class="col-md">
    <div class="card card-body">
      <h5>Contact Information</h5>
      <hr />
      <p>Username:</p>
      <p>Email:</p>
      <p>Phone:</p>
    </div>
  </div>
  <div class="col-md">
    <div class="card card-body">
      <h5>Total Borrowed</h5>
      <hr />
      <h1 style="text-align: center; padding: 10px"></h1>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <h5>History</h5>
        <tr>
          <th>Item</th>
          <th>Category</th>
          <th>Date</th>
          <th>Status</th>
          <th>Duration</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
